* {
    margin: 0;
    padding: 0;
}
body{
    background-color: lightgray;
    font-family: sans-serif;
}

.main-container {
    background-color: white ;
    width: 90%;
    margin: auto;
    padding: 10px;
}

.img-header {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.img-header img {
    width: 20%;
}

.menu-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.menu-header a {
    flex: 1;
    text-decoration: none;
    background-color: deepskyblue;
    color: white;
    padding: 10px;
    border: 1px solid white;
    text-align: center;
}

.menu-header a:hover {
    background-color: #555;
    color: white;
}

.info-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.paket-container {
    width: 300px;
    margin: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    margin-bottom: 1rem;
    margin-right: 20px;
    margin-left: 20px;
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
    transition: transform 0.3s ease;
}
.paket-container:hover {
    transform: scale(1.1);
}

.paket-container img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}
.paket-container h3 {
    font-size: 1rem;
    margin: 0.5rem 0;
}
.paket-container p {
    font-size: 1rem;
    margin: 0.5rem 0;
}
.paket-container button {
    background-color: deepskyblue;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.paket-container button:hover {
    background-color: #555;
    color: white;
}

.video-container {
    width: 300px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.video-container iframe {
    width: 100%;
    height: auto;
}

.search-container {
    margin-bottom: 10px;
}

.search-container input[type="text"]{
    padding: 5px;
    margin-right: 10px;
}

.search-container input[type="submit"]{
    padding: 5px;
}

.brand-container {
    width: 60%;
    position: absolute;
    top: 10%;
    left: 5%;
}
.brand-container img {
    width: 40%;
}

.brand-container h1 {
    color: whitesmoke;
    font-size: 6.5vw;
    text-shadow: 2px 2px 8px #000;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
}